{% extends 'base.html' %}





<!--风格填充-->
{% block styles %}
<style>
#a
{
list-style-type:none;
margin:0;
padding:0;

}
#b
{
display:block;
width: 100px;
background-color:#dddddd;
}

</style>
{% endblock styles %}



<!--内容填充-->
<!--内容填充-->
{% block content %}


<!--渲染侧边栏-->






<div style="width: 900px;height: 600px;background-color:blanchedalmond;top:3cm;margin: 0 auto;">




  <!--注册弹窗-->
  <div  id='zc' style="display:none;width:300px;height:160px;background-color:gray;position: fixed;left:40%;top:20%;padding: 10px">
  <button type="button" style='float:right'; onclick="zc0();">关闭</button>
      <div style="margin:0 auto;width:300px;margin-top: 10%">
          <form method="post" action="{{url_for('admin.zhuce')}}">
              <h3>注册用户</h3>
              用户名：<input type="text" name="username" ><br>
              密码哦：<input type="text" name="password_hash" ><br>
              
              <input class="btn" type="submit"value="注册"  >
          </form>
      </div>
  </div>


  <!--登录弹窗-->
  <div class='son' id='tc' style="display:none;width:300px;height:160px;background-color:gray;position: fixed;left:40%;top:20%;padding: 10px">
  <button type="button" style='float:right'; onclick="xs0();">关闭</button>
  <div style="padding-top: 30px">
    
      <form method="post" action="{{url_for('admin.login')}}">
          用户<input type="text" name="username" placeholder="请输入用户名" ><br>
          密码<input type="password" name="password" placeholder="请输入密码" ><br>
          <!-- 密码输入框的 type 属性使用 password，会将输入值显示为圆点 -->
          
          
          <a id='xs' onclick="zc();"> 注册</a>
          <input class="btn" style="float:right;margin-top: 0;margin-bottom: 5px" type="submit" name="submit" value="登录">                   
      </form>
  </div>
  </div>

<!--{{ dropzone.create(action='admin.x') }}-->
  

 <!--文章展示--> 
 <div style="margin:0 auto; width:600px; height:auto;padding: 30px" > <!--让div居中显示-->
    
      {% for i in m %} 
      <div>
      <h3>{{i.title}}  <small>类别：{{i.category.name}}</small></h3>
      <p >{{i.body|striptags|truncate}}<small><a style="color:greenyellow" >阅读更多</a></small></p>
      <!--渲染删除按钮-->

  
      <hr/>  <!--生成一条分界线-->
      </div>
      {% endfor %}   
      
      
     

</div>


 <!--渲染分页导航部件-->

<div style="width:200px; height:60px; position: fixed; top:99%; left:50%; margin-top:-100px; margin-left:-100px; background-color:grey; padding-left: 10px;padding-right: 10px;padding-bottom: 0px;padding-top: 0px;"  >
    <a style="float:left;margin-top: 0;margin-bottom: 5px"  href="{{url_for(request.endpoint,page=pagination.prev_num)}}">上一页</a>
    <a style="float:left">当前第{{page}}页</a>
    <a style="float:left;margin-top: 0;margin-bottom: 5px"   href="{{url_for('admin.a',page=pagination.next_num)}}">下一页</a>
</div>





</div>



{% endblock %}

