<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
 
{% block head %}
    <title> Albumy</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    
    <script src="//libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    <!--<script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>-->
    

    {{ dropzone.load_css() }}
    {{ dropzone.load_js() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 0%') }}

{% endblock head %}



{% block styles %}

{% endblock styles %}


</head>




<body>

<!--导航栏-->
<!--<div style="margin: 0 auto;width: 640px;;height:60px;background:rgba(209, 55, 55, 0.5);" >-->
<div style="position: fixed; top:3%; left:30%;background:green;min-width: 650px;margin-bottom: 0;" >
    
        <ul>
          <li><a href="/">主页</a></li>
          <li><a href="{{url_for('admin.d')}}">anhsunpp</a></li>
          <li><a href="{{url_for('admin.e')}}">cc</a></li>
          <li><a href="{{url_for('admin.f')}}">anhsun</a></li>
          {% if not current_user.is_authenticated %}  <!--验证是否已登录-->
          <li><a href="#about" id='xs' onclick="xs();">登录</a></li>
          {% endif %}
          {% if current_user.is_authenticated %}  <!--验证是否已登录-->
          <li><a href="{{url_for('admin.logout')}}"> 注销登录</a></li>
          {% endif %}
        </ul>
</div>




<!--根据是否登录来渲染侧边栏-->
{% if current_user.is_authenticated %}  <!--验证是否已登录-->
<div style="width:110px;float:left;padding:0px">
    
        <ul id="a">
            <p><a id="b" href="{{url_for('admin.tj')}}" style="color:black;">添加笔记</a></p>
            <p><a id="b" href="#home" style="color:black;">Home</a></p>
            <p><a id="b" href="#home" style="color:black;">Home</a></p>
            <p><a id="b" href="#home" style="color:black;">个人资料</a></p>   
        </ul>
    
    
</div>
{% endif %}



<div style="position: fixed; top:8%; left:20%;height: 90%;background:green;min-width: 650px;">

<!--子文件在下面的block填充内容-->
{% block content %}






{% endblock %}










</div>

</body>





<!--所有js函数全部写在这里面-->
<script>
//显示注册弹窗的函数
    function zc() {
        var a=document.getElementById('zc');
        a.style.display='block';
        var b=document.getElementById('tc');
        b.style.display='none'
    }
//关闭注册弹窗的函数
    function zc0() {
        var a=document.getElementById('zc');
        a.style.display='none'
    }
  //显示登录弹窗的函数
function xs() {
    var a=document.getElementById('tc');
    a.style.display='block'
}
//关闭登录弹窗的函数
function xs0() {
    var a=document.getElementById('tc');
    a.style.display='none'
}
</script>



</html>
