<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
 
{% block head %}
    <title> Albumy</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="//libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>

{% endblock head %}



{% block styles %}
    <style>
        
    </style>
{% endblock styles %}


</head>




<body>
    <div style="margin: 0 auto;width: 640px;;height:60px;background:rgba(209, 55, 55, 0.5)" >
        <ul>
          <li><a href="/">主页</a></li>
          <li><a href="#about">labview</a></li>
          <li><a href="#about">python</a></li>
          <li><a href="#about">新疆日记</a></li>
          {% if not current_user.is_authenticated %}  <!--验证是否已登录-->
          <li><a href="#about" id='xs' onclick="xs();">登录</a></li>
          {% endif %}
          {% if current_user.is_authenticated %}  <!--验证是否已登录-->
          <li><a href="{{url_for('admin.logout')}}"> 注销登录</a></li>
          
          {% endif %}
        </ul>
      </div>

{% block content %}






{% endblock %}
</body>
<script>
    //显示注册弹窗的函数
    function zc() {
        var a=document.getElementById('zc');
        a.style.display='block';
        var b=document.getElementById('tc');
        b.style.display='none'
    }
    //关闭注册弹窗的函数
    function zc0() {
        var a=document.getElementById('zc');
        a.style.display='none'
    }
  //显示登录弹窗的函数
function xs() {
    var a=document.getElementById('tc');
    a.style.display='block'
}
//关闭登录弹窗的函数
function xs0() {
    var a=document.getElementById('tc');
    a.style.display='none'
}
    
    
    
    
    
</script>



</html>
