<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
{% block head %}
    <title> Albumy</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    
    <script src="//libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    <!--<script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>-->
    

    {{ dropzone.load_css() }}
    {{ dropzone.load_js() }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 0%') }}
    {{ ckeditor.load_code_theme() }}
{% endblock head %}



{% block styles %}

{% endblock styles %}


</head>




<body>

<!--导航栏-->
<!--<div style="margin: 0 auto;width: 640px;;height:60px;background:rgba(209, 55, 55, 0.5);" >-->
<div style="position: fixed; top:3%; left:30%;min-width: 650px;margin-bottom: 0;" >
    
    
        <ul id="u1">
          <li id="p1"><a id="x1" href="/">主页</a></li>
          <li id="p1"><a id="x1" href="{{url_for('admin.d')}}">python</a></li>
          <li id="p1"><a id="x1" href="{{url_for('admin.e')}}">labview</a></li>
          <li id="p1"><a id="x1" href="{{url_for('admin.f')}}">西门子工业控制</a></li>
          {% if not current_user.is_authenticated %}  <!--验证是否已登录-->
          <li id="p1"><a id="x1" href="#about" id='xs' onclick="xs();">登录</a></li>
          {% endif %}
          {% if current_user.is_authenticated %}  <!--验证是否已登录-->
          <li id="p1"><a id="x1" href="{{url_for('admin.logout')}}"> 注销登录</a></li>
          {% endif %}
        </ul>
</div>




<!--根据是否登录来渲染侧边栏-->
{% if current_user.is_authenticated %}  <!--验证是否已登录-->
<div style="width:110px;float:left;padding:0px">
    
        <ul id="u1">
            <p id="p1"><a id="x1" href="{{url_for('admin.tj')}}" style="color:black;">添加笔记</a></p>
            <!--根据是否为管理员登录来渲染删除按钮-->
            {% if current_user.username=="cc" %}
            <p id="p1"><a id="x1" href="{{url_for('gly.gly')}}" style="color:black;">网站后台管理</a></p>
            <p id="p1"><a id="x1" href="#home" style="color:black;">Home</a></p>
            
            {% endif %}
            <p id="p1"><a id="x1" href="#home" style="color:black;">个人主页</a></p>   
        </ul>
    
    
</div>
{% endif %}



<div style="position: fixed; top:8%; left:20%;height: 90%;min-width: 650px;">

<!--子文件在下面的block填充内容-->
{% block content %}






{% endblock %}










</div>

</body>





<!--所有js函数全部写在这里面-->
<script charset="GB2312" language="javascript" type="text/javascript">

function myfun()
   {
    var url = decodeURI(location.search); //获取url中"?"符后的字符串 
    
    alert(url.split("?")[1].slice(2));
    }
/*用window.onload调用myfun()*/
//页面加载结束后自动执行函数
window.onload=myfun;





//显示注册弹窗的函数
    function zc() {
        var a=document.getElementById('zc');
        a.style.display='block';
        var b=document.getElementById('tc');
        b.style.display='none'
    }
//关闭注册弹窗的函数
    function zc0() {
        var a=document.getElementById('zc');
        a.style.display='none'
    }
  //显示登录弹窗的函数
function xs() {
    var a=document.getElementById('tc');
    a.style.display='block'
}
//关闭登录弹窗的函数
function xs0() {
    var a=document.getElementById('tc');
    a.style.display='none'
}

//提示消息





</script>



</html>
