<html>

<head>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="referrer" content="no-referrer">
<title>Video Home</title>


<script src="html5media.min.js"></script>
<!--html5media是一个开源的网页播放器，让支持HTML5的浏览器依然使用HTML5，不支持HTML5的浏览器使用falsh播放器-->
</head>



<body ><center>
<p>lklklk</p>
<!--
	<video src="../static/s.mp4" width="960" height="630" controls preload></video> 

-->	
<video src="{{path}}" width="960" height="630" controls preload></video> 
</body></center>
</html>