{% extends 'base.html' %}


{{ dropzone.load_css() }}
{{ dropzone.style('border: 2px dashed #0087F7; margin: 10%') }}
<!--风格填充-->
{% block styles %}
<style>
#a
{
list-style-type:none;
margin:0;
padding:0;

}
#b
{
display:block;
width: 100px;
background-color:#dddddd;
}

</style>
{% endblock styles %}




<!--内容填充-->
{% block content %}












{{ dropzone.create(action='admin.x') }}


<form method="post" action="{{url_for('admin.cjfl')}}">
    添加类名<input type="text" name="name" required><br><br>
    <input type="submit" >
</form>



<!--创建文章-->
<div  style="width: 700PX;height:300px;margin: 0 auto;background-color: aquamarine;"> <!--让div居中显示-->
    <form method="post" action="{{ url_for('admin.tj') }}">
    文章标题{{wz.title}}
    文章分类：{{wz.category}}
    提交{{wz.submit}}
    {{wz.body}}
    </form>
</div>

 





{% endblock %}

