{% extends 'base.html' %}


{{ dropzone.load_css() }}
{{ dropzone.style('border: 2px dashed #0087F7; margin: 10%') }}
<!--风格填充-->
{% block styles %}
<style>
#a
{
list-style-type:none;
margin:0;
padding:0;

}
#b
{
display:block;
width: 100px;
background-color:#dddddd;
}

</style>
{% endblock styles %}




<!--内容填充-->
{% block content %}












{{ dropzone.create(action='admin.x') }}

<!--
<form method="post" action="{{url_for('admin.tj')}}">
    {{ ckeditor.create() }}
    <input type="submit" >
</form>
-->


<!--创建文章-->
<div  style="width: 700PX;height:300px;margin: 0 auto;background-color: aquamarine;"> <!--让div居中显示-->
    <form method="post" action="{{ url_for('admin.tj') }}">
    {{wz.title}}
    {{wz.submit}}
    {{wz.body}}
    </form>
</div>

 





{% endblock %}

