{% extends 'base.html' %}


{{ dropzone.load_css() }}
{{ dropzone.style('border: 2px dashed #0087F7; margin: 10%') }}
<!--风格填充-->
{% block styles %}
<style>
#a
{
list-style-type:none;
margin:0;
padding:0;

}
#b
{
display:block;
width: 100px;
background-color:#dddddd;
}

</style>
{% endblock styles %}




<!--内容填充-->
{% block content %}

{% if current_user.is_authenticated %}  <!--验证是否已登录-->
<div style="width:110px;height:600px;background:rgba(209, 55, 55, 0.5);float:left;padding:0px">

    <ul id="a">
        <p><a id="b" href="{{url_for('admin.tj')}}" style="color:black;">添加笔记</a></p>
        <p><a id="b" href="#home" style="color:black;">Home</a></p>
        <p><a id="b" href="#home" style="color:black;">Home</a></p>
        <p><a id="b" href="#home" style="color:black;">Home</a></p>   
    </ul>


</div>
{% endif %}





<div style="width: 900px;height: 600px;background-color:blanchedalmond;top:3cm;margin: 0 auto;">




{{ dropzone.create(action='admin.x') }}

<!--
<form method="post" action="{{url_for('admin.tj')}}">
    {{ ckeditor.create() }}
    <input type="submit" >
</form>
-->


<!--创建文章-->
<div  style="width: 700PX;height:300px;margin: 0 auto;background-color: aquamarine;"> <!--让div居中显示-->
    
    <form method="post" action="{{ url_for('admin.tj') }}">
    {{wz.title}}
    {{wz.submit}}
    {{wz.body}}
    </form>

</div>



</div>

 





{% endblock %}

