body{
    margin-top:10px;
    padding-top: 200px;
    background:white;
    
}


/* 下面4个id是导航栏设置 */ 
#u1{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;}
   
#p1{float:left;}
    
#x1:link,a:visited{
    display:block;
    width:120px;
    font-weight:bold;
    color:black;
    background-color:white;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;}
    
#x1:hover,#x1:active{
    background-color:#0025cc;}



#i1 {color:green;}